body {
    padding: 0;
    text-align: center;
    display: flex;
    background-color: powderblue;
  }
  
  .game-intro {
    float: left;
    padding-right: 2rem;
    width: 14rem;
    margin-left: 4rem;
  }
  
  .game-intro p {
    font-size: 12px;
    font-family: "Verdana"
  }

  body button {
    font-size: 18px;
    background-color: orange;
    color: #fff;
    padding: 15px 25px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  #game-board {
      float: left;
      padding: 20px 0px;
  }

  canvas {
    background-image: url('./background-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 28rem;
    height: 19rem;
  }

  .game-goal {
    font-size: 12px;
    font-family: "Verdana";
    padding: 4% 2%;
  }