body {
    padding: 0;
    text-align: center;
    display: flex;
    background-color: powderblue;
  }
  
  .game-intro {
    float: left;
    padding-right: 2rem;
    width: 20rem;
    margin-left: 1rem;
    margin-top: 4rem;
  }
  
  .game-intro p {
    font-size: 12px;
    font-family: "Verdana"
  }

  body button {
    font-size: 16px;
    background-color: orange;
    color: #fff;
    padding: 10px 20px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  #game-board {
      float: left;
      padding: 20px 0px;
  }

  canvas {
    background-image: url('../images/background-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 35rem;
    height: 24rem;
  }

  .game-goal {
    font-size: 12px;
    font-family: "Verdana";
    padding: 4% 1%;
    margin-top: 3rem;
  }

  #game-over {
    display: none;
  }

  #score-div {
    font-size: medium;
    font-weight: 600;
  }

  #game-over > img {
    width:550px;
    height: 450px;
  }