body {
  padding: 0;
  text-align: center;
  display: flex;
  background-color: powderblue;
}

.game-intro {
  float: left;
  padding-right: 2rem;
  width: 28rem;
  margin-left: 1rem;
  margin-top: 4rem;
}

.game-intro p {
  font-size: 12px;
  font-family: "Verdana"
}

.arrow {
  width: 3rem;
  height: 2rem;
}

body button {
  font-size: 16px;
  background-color: orange;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

#game-board {
    float: left;
    padding: 20px 0px;
}

.game-goal {
  font-size: 12px;
  font-family: "Verdana";
  margin-top: 5rem;
  padding-right: 2rem;
}

#game-over {
  display: none;
}

#score-div {
  font-size: medium;
  font-weight: 600;
}

#game-over > img {
  width:550px;
  height: 450px;
}

#win-game {
  display: none;
}

#win-game > img {
  width:550px;
  height: 450px;
  margin-top: 2rem;
}